body{
    margin:0;
    background:#eee
}
.login{
    // padding: 10%;
    max-width: 400px;
    margin: auto;
    // background: #fff;
}
#main{
    display: flex;
    min-height: 100vh;
    align-items: center;
}
#main>div:not(.loader){
    width: 100%
}